<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Job</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="sidebar">
        <h1>Job Tracker</h1>
        <nav>
            <a href="{{ url_for('add_job_page') }}">🏠 Home</a>
            <a href="{{ url_for('add_job') }}">➕ Add Job</a>
            <a href="{{ url_for('job_list_page') }}">📋 Job List</a>
            <a href="{{ url_for('edit_job', job_index=job_index) }}" class="active">✏️ Edit Job</a>
        </nav>
    </div>

    <div class="editjob-content">
        <h2>Edit Job</h2>
        <form action="{{ url_for('edit_job', job_index=job_index) }}" method="POST">
            <label for="title">Job Title:</label>
            <input type="text" id="title" name="title" value="{{ job.title }}" required>

            <label for="company">Company:</label>
            <input type="text" id="company" name="company" value="{{ job.company }}" required>

            <label for="applied date">Applied Date:</label>
            <input type="date" id="date" name="date" value="{{ job.date }}" required>

            <label for="status">Status:</label>
            <select id="status" name="status">
                <option value="Applied" {% if job.status == "Applied" %} selected {% endif %}>Applied</option>
                <option value="Interview" {% if job.status == "Interview" %} selected {% endif %}>Interview</option>
                <option value="Offer" {% if job.status == "Offer" %} selected {% endif %}>Offer</option>
                <option value="Rejected" {% if job.status == "Rejected" %} selected {% endif %}>Rejected</option>
            </select>

            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes">{{ job.notes }}</textarea>

            <button type="submit">💾 Save Changes</button>
        </form>
    </div>

</body>
</html>
